.App {
  font-family: sans-serif;
  text-align: center;
}

.weatherList {
  text-align: left;
  font-size: 15px;
}
.imageList {
  list-style-type: none;
}
.footerLink {
  margin-top: 20px;
  font-size: 10px;
}
